<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="scss/main.css">
</head>
<body>

<header class="header">
    <div class="header__buttons-container">
        <div class="header__item header__item--settings"></div>
        <div class="header__item header__item--user"></div>
    </div>
</header>

<div class="content-container">
    <form class="auth-form">
        <div class="auth-form__title">Вход</div>

        <input placeholder="Login" required class="auth-form__input">
        <input placeholder="Password" required type="password" class="auth-form__input">

        <button type="submit" class="auth-form__submit-btn">Войти</button>

        <a href="" class="auth-form__forgot-pass-link"></a>
    </form>
</div>

<footer class="footer-menu">
    <div class="footer-menu__item footer-menu__item--text"></div>
    <div class="footer-menu__item footer-menu__item--video"></div>
    <div class="footer-menu__item footer-menu__item--performance"></div>
    <div class="footer-menu__item footer-menu__item--emergency"></div>
</footer>

</body>
</html>